* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

}


a {
  font-weight: 500;
  color: #EAECEF;
  text-decoration: inherit;
}


// custom ant-desgin
.ant-input-search .ant-input-search-button {
  height: 31px;
}